.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 880px;

  margin: 0px auto 0px;
  padding: 0px 0px 0px;
  position: relative;
  box-sizing: border-box;
}

.header__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 45px auto 0px;
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 544px;
  }

  .header__box {
    margin: 28px auto auto 0px;
    width: 100%;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0px auto auto 27px;
  }
}
