.popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  min-width: 100%;
  min-height: 100%;

  position: fixed;
  top: 0;
  right: 0;
}

.popup__opened {
  display: flex;
}

.popup__container {
  position: relative;
  background-color: #fff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px #000;
}

.popup__close-button {
  position: absolute;
  top: -34px;
  left: 432px;
  background-color: transparent;
  border: none;
  padding: 0px;

  width: 32px;
  height: 32px;
}

.popup__close-icon {
  width: 32px;
  height: 32px;
}

.popup__close-button:hover {
  opacity: 50%;
}

.popup__container-title {
  max-width: 330px;
  margin: 34px auto auto 36px;

  font-family: "InterDisplay", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: start;
  color: #000000;
}

.popup__form-fieldset {
  margin: 54px auto 0px 36px;
  padding: 0px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.popup__form-fieldsetInput {
  border: 0px;
  border-bottom: 1px solid #000;
  padding-bottom: 13px;
  width: 358px;

  font-family: "InterDisplay", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 5px;
  text-align: start;
  color: #000;
}

.popup__save-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  border: none;
  padding: 0px;
  margin: 48px 36px 0px 36px;

  font-family: "InterDisplay", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 5px;
  text-align: center;
  color: #fff;
}

.popup__save-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__close-button {
    top: -40px;
    left: 254px;
    width: 20px;
    height: 20px;
  }

  .popup__close-icon {
    width: 20px;
    height: 20px;
  }

  .popup__container-title {
    max-width: 238px;
    margin: 25px auto auto auto;

    font-size: 18px;
  }

  .popup__form-fieldset {
    margin: 67px auto auto auto;
  }

  .popup__form-fieldsetInput {
    width: 238px;
    margin: 0px auto;
  }

  .popup__save-button {
    width: 238px;
    height: 46px;

    margin: 46px 22px 25px 22px;

    font-size: 14px;
  }
}
