.popup-edit {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

}

.popup_opened {
  display: block;
  color: #fff;
}



.popup-edit__close-button {
  background-image: url('../images/close_Icon.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: -15%;
  right: -53px;
  cursor: pointer;
  border: none;

}

.popup-edit__close-button:hover {
  opacity: 0.6;

}

.popup-edit__title {
  max-width: 330px;
  margin: 34px 64px 54px 36px;
  color: #000000;
  font-family: 'Inter';
  font-size: 1.5rem;
  line-height: 1.815625rem;
  font-weight: 900;
}

.popup-edit__form {
  margin: 0 36px 36.51px;


}

.popup-edit__name {
  width: 358px;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  font-family: 'Inter';
  font-size: 0.875rem;
  line-height: 1.030625rem;
  margin-bottom: 29.74px;
}

.popup__name_no-margin {
  margin-bottom: 0;


}

.popup-edit__link {
  font-family: 'Inter';
  font-size: 0.875rem;
  line-height: 1.05875rem;
  font-weight: 400;
  display: block;
  width: 358px;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.popup-edit__create-button {

  width: 100%;
  height: 50.15px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  cursor: pointer;
  font-family: 'Inter';
  margin-top: 48px;


}

.popup-edit__create-button:hover {
  opacity: 0.8;
}

@media screen and (max-width:800px) {


  .popup-edit__name {
    max-width: 300px;

  }

  .popup-edit__link {
    max-width: 300px;

  }

  .popup-edit__create-button {
    width: 300px;

  }

}

@media screen and (max-width:425px) {


  .popup-edit__close-button {
    top: -15%;
    right: 3;

  }

  .popup-edit__title{
    max-width: 238px;
    margin: 25px 22px 76px 22px;
    font-size: 1.125rem;
    line-height:1.361255rem;

  }

  .popup-edit__form {
    max-width: 320px;
    margin: 0 22px 39px;

  }



  .popup-edit__name {
    max-width: 238px;
    font-size: 0.875rem;
    line-height: 1.05875rem;
    height: 26px;
    margin-bottom: 39px;
  }

  .popup-edit__link {
    max-width: 238px;
    font-size: 0.875rem;
    line-height: 1.05875rem;
    height: 26px;
    margin-bottom: 46px;
}

.popup-edit__create-button {
  max-width: 238px;
  height: 46px;
  border-radius: 2px;
}
}