.profile {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  max-width: 880px;
  height: 120px;
  margin: 40px auto 0px;
  box-sizing: border-box;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 30px;
  max-width: 415px;
  width: 415px;
  height: 77px;
}

.profile__info-name {
  max-width: 373px;
  min-width: 373px;
  margin: 0px;

  font-family: "InterDisplay", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: start;
  color: #fff;
}

.profile__info-about {
  max-width: 373px;
  min-width: 373px;
  margin: 16px auto 0px 0px;

  font-family: "InterDisplay", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 5px;
  text-align: start;
  color: #fff;
}

.profile__editButton {
  margin: 15px 0px auto 18px;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0px;
  background: transparent;
}

.profile__editButton:hover {
  opacity: 60%;
}

.profile__editButton-image {
  width: 24px;
  height: 24px;
}

.profile__addButton {
  margin: 35px 0px auto;
  border: none;
  padding: 0px;
  width: 150px;
  height: 50px;
  background: transparent;
}

.profile__addButton:hover {
  opacity: 60%;
}

.profile__addButton-image {
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-items: center;

    max-width: 282px;
    height: 286px;
    margin: 42px auto 0px;
    box-sizing: border-box;
  }

  .profile__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0px auto;

    max-width: 282px;
    width: 220px;
  }

  .profile__info-name {
    max-width: 282px;
    min-width: 190px;
    margin: 0px;

    font-family: "InterDisplay", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: start;
    color: #fff;
  }

  .profile__info-about {
    max-width: 282px;
    min-width: 150px;

    margin: 16px auto 0px auto;

    font-family: "InterDisplay", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    text-align: center;
    color: #fff;
  }

  .profile__editButton {
    margin: 0px auto 0px 10px;
    width: 18px;
    height: 18px;
    border: none;
  }

  .profile__editButton-image {
    width: 18px;
    height: 18px;
  }

  .profile__addButton {
    margin: 35px 0px auto;
    width: 282px;
    height: 50px;
  }

  .profile__addButton-image {
    width: 282px;
    height: 50px;
  }
}
